<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<body>
<div align="center">
	<form class="form-horizontal" action="#" th:action="@{/listStudents/AddSubmit}"
th:object="${student}" method="post">
		<fieldset>

			<!-- Form Name -->
			<legend>Add Student</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="Name">Name:</label>
				<div class="col-md-4">
					<input id="Name" th:field="*{name}" name="Name" type="text" placeholder="Your name..."
						class="form-control input-md"> <span class="help-block"></span>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="Surname">Surname:</label>
				<div class="col-md-4">
					<input id="Surname" th:field="*{surname}" name="Surname" type="text"
						placeholder="your surname..." class="form-control input-md">
					<span class="help-block"></span>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="Age">Age:</label>
				<div class="col-md-4">
					<input id="Age"  th:field="*{age}"name="Age" type="text" placeholder="your age..."
						class="form-control input-md"> <span class="help-block"></span>
				</div>
			</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="Enviar">Enviar:</label>
				<div class="col-md-4">
					<button id="Enviar" name="Enviar" class="btn btn-primary">Añadir</button>
				</div>
			</div>
	
		</fieldset>
	</form>
</div>
</body>
</html>